html {
    height: 100%;
}
  
body {
    background-image: url("../images/middleEarth.svg")
    /* background-size: cover;
    background-position: center;
    background-color: black; */
}
  
#heading {
    background: black;
    color: red;
    text-align: center;
    font-family: 'Noto Sans Japanese';
}
  

h4 {
    color: white;
    -webkit-text-stroke: 1px black;
    text-emphasis: bold;
}
 
img {
    height: 250px;
    width: 250px;
}

#start,
#enemies,
#defender {
    display: flex;
}
  
  
#legoGandalf,
#legoLegolas,
#legoSaruman,
#legoAzog {
    /* background: black; */
    text-align: center;
    /* border: white 2px solid; */
    width: 25%;
}
  
#message {
    background-color: black;
    color: white;
    font-family: 'Noto Sans Japanese';
}