html {
    height: 100vh; /* for 100% screen height */
    width:  100vw; /* for 100% screen width */
}
  
body {
    background-image: url("../images/middleEarth.jpg")
}
  

h4 {
    color: goldenrod;
    -webkit-text-stroke: 1px black;
    text-emphasis: bold;
}
 
.img-thumbnail,
.src {
    background-image: url('../images/middleEarth.jpg');
    /* background-color: black; */
    /* background-blend-mode: screen; */
    width: 200px;
    height: 300px;
}


#start,
#enemies,
#defender {
    display: flex;
}
  
  
#legoGandalf,
#legoLegolas,
#legoSaruman,
#legoAzog {
    /* background: black; */
    text-align: center;
    /* border: white 2px solid; */
    width: 25%;
}
  
#message {
    background-color: black;
    color: white;
    font-family: 'Noto Sans Japanese';
}